@import "tailwindcss";

@theme {
    --font-sans: "DM Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@theme {
    --color-primary: #082233;
    --color-secondary: #4C4C4C;
    --breakpoint-3xl: 100rem;
    --breakpoint-4xl: 112rem;
    --text-md: 16px;
}

body {
    background-color: #F9FBF0;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
 background-color: #151515;
 width: 20px;
 border-radius: 50px;
}